.imageCss-container {

    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(19rem,5fr));
    grid-row-gap:5px;
    grid-column-gap:5px;
    height:500px;
}

.imageCss-container img {
   
    border:3px solid #adb5bd;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}

.imageCss-container img:hover {
    transform: scale(1.1);
    
}




.backtoPage {
    position:relative;
    left:5rem;
    font-size:1.3rem;
    color:white;
    background-color:darkblue;
    padding:.5em 1em;
    transition: all .4s ease-in-out;
}

.backtoPage:hover {
    color:white;
    font-size:2rem;
}